.container:before, .group:before,
.container:before, .group:after {
  content: " ";
  display: table; }

.container:after, .group:after {
  clear: both; }

/* $h3-color: #000000;
$h4-color: #e90074; */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  width: 100%;
  color: #000000;
  background: #76f704;
  font-size: 100%;
  font-family: 'Merriweather', 'Josefin Slab', Verdana, serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Slab', Verdana, serif; }

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1.25em;
  /* 20/16 */ }

p {
  color: #000000; }

img {
  height: auto;
  vertical-align: middle;
  max-width: 100%; }

/* $h3-color: #000000;
$h4-color: #e90074; */
header {
  position: relative;
  height: 12em; }

.header-one {
  margin: 0 auto;
  height: 3.5em;
  background: #54a908;
  width: 100%;
  box-shadow: 0em 0.3125em 0.625em;
  /* 0/16 */
  /* 5/16 */
  /* 10/16 */ }

.contact {
  float: left;
  margin: 1em;
  text-align: center;
  width: 30%; }

.details {
  text-decoration: none;
  color: #000000;
  font-size: 150%; }
  .details:focus, .details:hover {
    color: #ffffff; }

.social {
  float: left;
  display: inline-block;
  margin-top: 0; }

.social li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  padding: 0 1em;
  font-size: 115%; }
  .social li:focus, .social li:hover {
    text-decoration: underline; }

.social li a {
  text-decoration: none;
  color: #000000; }

.social .fa {
  font-size: 1.375em; }
  .social .fa:focus, .social .fa:hover {
    color: #ffffff; }

.fa {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal 1.5em FontAwesome;
  /* 24/16 */ }

.header-two {
  max-width: 1150px;
  margin: 0 auto; }

.logo {
  float: left;
  margin: -0.5em 0 0 5%;
  width: 5em; }

h1 {
  font-family: Josefin Slab;
  font-size: 4.375em;
  /* 70/16 */
  text-align: center;
  text-shadow: 0px 5px 10px; }

main {
  width: 100%;
  height: 25.5em; }

aside {
  width: 45%;
  margin: 1% 2.5%;
  float: left;
  text-align: center;
  padding: 1em;
  height: 20em;
  border: 5px dotted;
  border-bottom: none; }

h2 {
  margin: 2em 0 0.5em; }

h2:first-of-type {
  margin-top: 1.5em; }

.grid_input {
  margin: 0.5em; }

#colorPicker {
  width: 5em;
  height: 5em; }
  #colorPicker:focus, #colorPicker:hover {
    cursor: pointer; }

table,
tr,
td {
  border: 1px solid black; }

table {
  border-collapse: collapse;
  margin: 0 auto; }

tr {
  height: 20px; }

td {
  width: 20px; }

input[type=number] {
  width: 5em;
  text-align: center; }

input:focus, input:hover {
  cursor: pointer; }

footer {
  margin: 0 auto;
  width: 100%;
  height: 3em;
  padding: 0.5em 1em;
  text-align: center;
  box-shadow: 0px -5px 10px;
  background: #54a908; }

footer p {
  font-size: 130%;
  margin: 0;
  padding-top: 0.1em; }

.header-one-responsive {
  display: none; }

@media screen and (max-width: 977px) {
  .header-one {
    display: none; }

  .header-one-responsive {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #54a908; }

  #menu {
    width: 100%;
    font-size: 150%;
    margin: 0 auto;
    padding-top: 0.5em;
    height: 2em;
    box-shadow: 0px 5px 10px; }
    #menu:focus, #menu:hover {
      cursor: pointer;
      color: #ffffff; }

  .contact-respo {
    width: 100%;
    margin: 1em; }

  .social ul {
    padding: 0;
    margin: -1em auto 0.5em; } }
@media screen and (max-width: 960px) {
  input[type=submit] {
    margin-top: 1em; } }
@media screen and (max-width: 841px) {
  h1 {
    font-size: 3.5em; } }
@media screen and (max-width: 700px) {
  h1 {
    font-size: 3em;
    margin-top: 1em; }

  .logo {
    margin-top: -1em; }

  aside {
    width: 95%;
    margin: 0 2.5%;
    text-align: center;
    padding: 1em;
    height: 20em; }

  .second {
    margin-top: 5em; }

  footer {
    float: left;
    margin-top: 2em; } }
@media screen and (max-width: 630px) {
  .logo {
    float: none;
    margin-top: 1.5em;
    margin-left: 42%; }

  h1 {
    margin-top: 0.5em;
    margin-bottom: 1.5em; }

  main {
    float: none;
    margin-top: 5em; } }
@media screen and (max-width: 585px) {
  footer p {
    font-size: 100%; } }
@media screen and (max-width: 525px) {
  h1 {
    font-size: 2em; }

  main {
    margin-top: 3em; } }

/*# sourceMappingURL=style.css.map */
