// HEADER
header {
    position: relative;
    height: 12em;;
}
.header-one {
    margin: 0 auto;
    height: 3.5em;
    background: #54a908;
    width: 100%;
    box-shadow: 0px 5px 10px;
}
.contact {
    float: left;
    margin: 1em;
    text-align: center;
    width: 30%;
}
.details {
    text-decoration: none;
    color: #000000;
    font-size: 150%;

    &:focus, &:hover {
        color: #ffffff;
    }

}
.social {
    float: left;
    display: inline-block;
    margin-top: 0;
}
.social li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0 1em;
    font-size: 115%;

    &:focus, &:hover {
        text-decoration: underline;
    }
}
.social li a {
    text-decoration: none;
    color: $color-text;
}
.social .fa {
    font-size: 1.375em;

    &:focus, &:hover {
        color: #ffffff;
    }
}
.fa {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: normal 24px FontAwesome;
}
.header-two {
   max-width: 1150px;
   margin: 0 auto;
}
.logo {
    float: left;
    margin: -0.5em 0 0 5%;
    width: 5em;
}
h1 {
    font-family: Josefin Slab;
    font-size: 70px;
    text-align: center;
    text-shadow: 0px 5px 10px;
}